:root.theme-light {
  --backgroung-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --color-button_hover: rgba(50, 49, 45, 0.4);
  --color-web-title: #FFC2E6;
  --bg-color-decor: #FF8DCB;
  --accent-color-decor: #000028;
  --main-text-color: #353430;
  --accent-color-decor-angle: #353430;
  --accent-color-title-section: #353430;
  --decor-element-displey: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroung-image: url("../images/cover-image-light.png");
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --color-button_hover: rgba(50, 49, 45, 0.4);
    --color-web-title: #FFC2E6;
    --bg-color-decor: #FF8DCB;
    --accent-color-decor: #000028;
    --main-text-color: #353430;
    --accent-color-decor-angle: #353430;
    --accent-color-title-section: #353430;
    --decor-element-displey: none;
  }
}