/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--backgroung-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  background-attachment: fixed;      
  
}

.header {
  display: grid;
  height: var(--vp-size);
  min-height: 668px;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  position: relative;
  margin: 0;
}


.header__theme-menu {
  justify-self: end;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  margin-block-start: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color-decor-angle);
  border: none;
  text-transform: lowercase;
  font-family: var(--font);
  font-size: var(--text-size);
  line-height: 18px;
  cursor: pointer;
  width: 70px;
  height: 26px;

}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button_hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color-decor-angle);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color-decor-angle);
}

.website_title {
  font-family: var(--font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-web-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  letter-spacing: 0;
}

.header_rec {
  display: var(--decor-element-displey);
  position: absolute;
  justify-self: end;
  font-family: var(--font);
  font-size: var(--text-size);
  color: var(--accent-color);
  margin-inline-end: 38px;
  margin-block-start: 10px;
}

.header_rec::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-block-start: 8px;
  margin-inline-start: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-decor-angle);
  border-right: 1px solid var(--accent-color-decor-angle);
  margin-block-start: 10px;
  margin-inline-end: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color-decor-angle);
  border-left: 1px solid var(--accent-color-decor-angle);
  margin-block-end: 10px;
  margin-inline-start: 10px;
}

.title-decor {
  background-color: var(--bg-color-decor);
  font-family: var(--font);
  font-size: var(--text-size);
  color: var(--accent-color-decor);
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0;
  height: fit-content;
  grid-row: 3;
  align-self: center;
  margin-block-end: 10px;

}

.concentration {
  display: grid;
  margin-block-start: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.main_heading {
  font-family: var(--font);
  color: var(--accent-color-title-section);
  font-size: var(--text-size);
  font-weight: 700;
  margin-block-end: 20px;
}

.main_text {
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-family: var(--font);
  color: var(--main-text-color);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.light_text {
  font-weight: 400;
}

.word_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.word_link:hover {
  border-bottom: 1px solid var(--main-text-color, #F1B2CE);
}

.word_link:focus-visible {
  border: none;
  outline: 1px solid var(--main-text-color, #F1B2CE);
}

.problem_con {
  grid-template-rows: repeat(4, min-content);
  align-items: start;
}

.heading_problems, .heading_recom {
  margin-top: -10px;
}

.block_sky_cloud {
  margin-block-start: 10px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, min-content);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  gap: 10px;
  margin-block-start: 30px;
}

.title-card {
  grid-row: 1;
  margin: 0;
}

.img_card {
  width: calc(100vw - 20px);
}

.footer {
  display: flex;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-block-start: 40px;
}

.footer_title {
  align-self: center;
  justify-self: center;
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    margin-block-start: 15px;
  }

  .website_title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    justify-self: start;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decor_header {
    grid-column: 2;
    grid-row: 3;
    margin-block-start: -10px;
  }

  .header_rec {
    margin-block-start: 20px;
    margin-inline-end: 48px;
  }

  .decorated-zone::before {
    margin-block-start: 20px;
    margin-inline-end: 20px;
  }

  .decorated-zone::after {
    margin-block-end: 20px;
    margin-inline-start: 20px;
  }

  .concentration {
    margin-block-start: 60px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .main_heading {
    grid-column: 1;
    margin-inline-end: 50px;
  }

  .block_multitasking, .block_dopamine {
    grid-column: 2;
  }

  .problem_con {
    grid-template-rows: repeat(4, min-content);
    margin-block-start: 70px;
  }

  .heading_problems {
    grid-column: 1/2;
  }

  .block_concentration, .block_food, .block_gadgest {
    grid-column: 1/3;
  }

  .block_concentration {
    grid-row: 2;
  }
  
  .block_food {
    grid-row: 3;
  }
  
  .block_gadgest {
    grid-row: 4;
  }

  .recommendations {
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }

  .heading_recom {
    grid-row: 1/3;
    margin-inline-end: 20px;
    line-height: 23.4px;
    white-space: pre-line;
    padding: 0;
    padding-block-start: 9px;
  }

  .block_sky_cloud, .block_music, .block_walk, .block_good_food, .block_reed {
    grid-column: 2;
  }

  .card {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content auto;
    gap:20px;
    justify-content: center;
    align-content: center;
    margin-block-end: 60px;
  }

  .img_card {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .title-card {
    grid-column: 1/4;
    grid-row: 1;
  }

  .card_sunset {
    grid-column: 1/3;
    grid-row: 2;
    object-fit: contain;
  }

  .card_ice-cream {
    grid-column: 3;
    grid-row: 2/4;
  }

  .card_tape {
    grid-column: 1;
    grid-row: 3/5;
  }

  .card_books {
    grid-column: 2;
    grid-row: 3;
    object-fit: contain;
  }

  .card_street {
    grid-column: 2/4;
    grid-row: 4;
  }

  .footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer_title {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-inline-start: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu{
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
    padding-block-start: 4px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
  
  .website_title {
    grid-column: 1/4;
  }

  .decor_header {
    grid-column: 2/4;
  }

  .concentration {
    grid-template-columns: 1fr 2fr;
  }

  .concentration_why {
    column-gap: 10px;
  }

  .heading_why {
    width: 100%;
  }

  .problem_con {
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .heading_problems {
    grid-row: 1;
    grid-column: 1;
  }

  .block_concentration {
    grid-column: 1;
    grid-row: 2;
  }

  .block_food {
    grid-column: 2;
    grid-row: 2;
  }

  .block_gadgest {
    grid-column: 3;
    grid-row: 2;
  }

  .card {
    grid-template-columns: repeat(3, 1fr);
  }
}